<header >
  <ul>
    <li>
      <a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']"
        >Sobre mi</a
      >
    </li>
    <li>
      <a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']"
        >Proyectos</a
      >
    </li>
    <li id="logo"><a href="">José Mari Tomé</a></li>
    <li>
      <a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']"
        >Crear Proyectos</a
      >
    </li>
    <li>
      <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']"
        >Contacto</a
      >
    </li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
<footer class="footer">
  Proyecto final Master en JasvaScript &copy;
</footer>
