<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>
    Sobre mi
  </h2>
  <p>
    Bienvenidos, mi nombre es José Mari Tomé, nacido en 1979, Técnico en
    Preimpresión Digital adentrado en el mundo del Diseño Gráfico, instalador
    electricista de profesión ,conocimientos en sistemas informáticos, redes y
    experiencia en el montaje de cuadros eléctricos.
  </p>
  <p>
    Soy una persona muy activa en el trabajo y en la vida, creativa,
    observadora, autodidacta, curiosa, siempre con ganas de aprender aumentando
    la experiencia y el crecimiento personal. Asumo retos con iniciativa y
    disposición para mejorar mis propias habilidades y cumplir los objetivos
    deseados, puedo integrarme a equipos de trabajo dando un compromiso
    constante por la causa y generando resultados positivos.
  </p>
</article>
