<div class="container">
       <p> Tamaño del Slider <strong>{{anchura}}</strong></p><br>
       <p>Captions: <strong>{{captions}}</strong></p><br>
    <div class="galeria">
        <div><img src="../../../assets/img/IMG_0517.jpg" title="Funky roots"></div>
        <div><img src="../../../assets/img/platos1.jpg" title="The long and winding road"></div>
        <div><img src="../../../assets/img/tiesto.jpg" title="Happy trees"></div>
      </div>
    </div>
    <button (click)="lanzar($event)"> Conseguir autor</button>
